@charset "utf-8";

+---------------------------------------------------------------------------+
+---------------------------------------------------------------------------+
| /* Content Section */							    |
+---------------------------------------------------------------------------+
.content{
	/* No styling needed */
}

.content .inner{ /* Main paragraph section */
	/* height: 824px; */
	width: 850px;
	text-align: center;
	font-size: 12px;
	border: 1px solid rgb(0,255,255);
}

.content .topContain{ /* Main paragraph section */
	height: 470px;
	width: 850px;
	text-align: center;
	font-size: 12px;
	border: 0px solid rgb(0,255,255);
}

.content .centerContain{
	border: 0px solid rgb(255,0,255);
	height: 350px;
	width: 848px;
}

.content .centerContain .leftCol{
	float:left;
	height: 325px;
	width: 33%;
	border: 0px solid rgb(0,255,0);
	padding: 3px;
}

.content .centerContain .centerCol{
	width: 33%
}

/*
.content .centerContain:after{
	content: "";
	display: table;
	clear: both;
}
*/

.content .centerContain .centerCol p{
	border: 1px solid rgb(0,255,255);
}

