@charset "utf-8";

+---------------------------------------------------------------------------+
+---------------------------------------------------------------------------+
| /* Content Section */							    |
+---------------------------------------------------------------------------+
.content{
	/* No styling needed */
}

.content .inner{ /* Main paragraph section */
	/* height: 824px; */
	width: 850px;
	text-align: center;
	font-size: 12px;
	border: 1px solid rgb(0,255,255);
}

.content .topContain{ /* Main paragraph section */
	height: 470px;
	width: 850px;
	text-align: center;
	font-size: 12px;
	border: 0px solid rgb(0,255,255);
}

.content .centerContain{
	border: 1px solid rgb(0,255,255);
	height: 350px;
	width: 848px;
}

.content .bottomContain{ /* Main paragraph section */
	height: 0px;
	width: 850px;
	text-align: center;
	font-size: 12px;
	border: 0px solid rgb(0,255,255);	
}

.content .bottomContain p{
	bottom: 0;
}

/* 
Notes:
	-Mess around with moving text to right or left.
*/

.content .centerContain .centerPiece{

	border-radius: 1000px;
	border: 1px solid rgb(0,255,255);
}

.content .centerContain .leftText{
	float: left;
	border: 0px solid rgb(0,255,255);
	height: 400px;
	width: 219px;
}

.content .centerContain .rightText{
	float: right;
	border: 0px solid rgb(0,255,255);
	height: 400px;
	width: 219px;
}


