@charset "utf-8";

.content .centerContain .centerPiece{

	border-radius: 1000px;
	border: 1px solid rgb(0,255,255);
}

.content .centerContain .leftText{
	float: left;
	border: 1px solid rgb(0,255,255);
	height: 400px;
	width: 219px;
}

.content .centerContain .rightText{
	float: right;
	border: 1px solid rgb(0,255,255);
	height: 400px;
	width: 219px;
}

